.beige-noise
  .p-wrapper


    h1.page-title= title
      if subTitle
        small=' '+subTitle

    hr

    each comment in comments
      article.comment
        header
          if comment.ctx
            h2(id=comment.ctx.name)= comment.ctx.name
            h5.subheader
              span.label.label-info= comment.ctx.type
              = comment.ctx.string

        ul.no-bullet.tags
          each tag in comment.tags
            unless tag.type == 'api'
              li.tag
                span.type="@"+tag.type + ": "
                each value, key in tag
                  if (['type'].indexOf(key) === -1)
                    - if (key === 'types') value="{"+value+"}"
                    span(class=key)= value

        tabset
          tab(heading="Description")
            .well
              !=comment.description.full
          tab(heading="Source")
            div(hljs)
              =comment.code
        hr